{{> ./partials/header}}

{{> ./partials/navbar}}
<link rel="stylesheet" href="/css/board.css">

<h1>WHS Book Club Board Members</h1>
<p class="subheading">2022 - 2023 School Year</p>

<div class="flex-table">
    {{#boardMembers}}
        <div class="user parallax parallax-card">
            <span class="inner-card">
                <span class="user-details">
                    <span class="top-section"></span>
                    <span class="bottom-section">
                        <span class="name">{{fullName}}</span>
                        <span class="area">
                            <span class="area-container">
                                {{#roles}}
                                    <span class="badge">{{.}}</span>
                                {{/roles}}
                            </span>
                        </span>
                        <span class="buttons">
                            <a href="#" target="_blank"><i class="fa-solid fa-hashtag"></i></a>
                            <a href="#" target="_blank"><i class="fa-solid fa-code-merge"></i></a>
                            <a href="#" target="_blank" class="message"><i class="fa-regular fa-envelope"></i> Message</a>
                        </span>
                    </span>
                    <span class="user-icon"><img src="https://static.thenounproject.com/png/3244607-200.png"></span>
                </span>
                <span class="glare"></span>
            </span>
            </span>
        </div>
    {{/boardMembers}}
</div>

{{> ./partials/parallax}}