{{> ./partials/header}}

{{> ./partials/navbar}}
<link rel="stylesheet" href="/css/board.css">

<h1>WHS Book Club Board Members</h1>
<p class="subheading">2022 - 2023 School Year</p>

<div class="flex-table">
    {{#boardMembers}}
        <div class="parallax card" data-tilt data-tilt-scale="1.1" data-tilt-perspective="500">
            <p class="card-title">{{role}}</p>
            <p class="card-body">{{fullName}}</p>
        </div>
    {{/boardMembers}}
</div>

<!-- tilt.js library created by @gijsroge: https://github.com/gijsroge/tilt.js -->
<script src="/js/tilt.jquery.js"></script>