{{> ./partials/header}}

{{> ./partials/navbar}}

<link rel="stylesheet" href="/css/social.css">
<h1>Join us in these external applications:</h1>

<div class="social-cards-table">
    <div class="social-card" data-tilt data-tilt-perspective="300">
        <a class="btn" href="https://discord.gg/ehfRxbNYp5" target="_blank" style="--btn-color: #5865F2">
            <div class="flexbox-wrapper">
                <i class="fa fa-brands fa-discord"></i>
            </div>
        </a>
    </div>

    <div class="social-card" data-tilt data-tilt-perspective="300">
        <a class="btn" href="https://github.com/isaac-goldberg/whsbookclub" target="_blank" style="--btn-color: black">
            <div class="flexbox-wrapper">
                <i class="fa fa-brands fa-github"></i>
            </div>
        </a>
    </div>
</div>

<script src="/js/tilt.jquery.js"></script>