.board-cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    max-width: 999px;
    margin: auto;
    margin-top: 50px;
    row-gap: 20px;
}

.board-cards .card {
    border: 1px solid #111;
    border-radius: 10px;
    padding: 5px 20px;
    width: 33%;
}

.board-cards .card .card-role {
    font-size: 24px;
}