@import url("https://fonts.googleapis.com/css2?family=Inter");

/* root variables, never change across themes */
:root {
    --theme-success-h: 139;
    --theme-success-s: 47%;
    --theme-success-l: 44%;
    --theme-danger-h: 359;
    --theme-danger-s: 83%;
    --theme-danger-l: 59%;

    --theme-button-primary: #ffd700;
    --theme-button-secondary: #CCA400;
    --theme-button-text-primary: #171717;
    --theme-button-text-secondary: #474747;

    --theme-success: #57F287;
    --theme-danger: #ED4245;

    --theme-font-family-primary: "Inter", sans-serif;

    --theme-transition-slow: 0.3s ease;
    --theme-transition-md: 0.2s ease;
    --theme-transition-imd: 0.15s ease;
    --theme-transition-fast: 0.1s ease;
    --theme-transition-xfast: 0.075s ease;
}

/* body variables when theme is light mode */
body.lightmode {
    /* [actually good looking light mode variables] */
        /* 
        --theme-text-primary: #171717;
        --theme-text-primary-active: #000;
        --theme-text-secondary: #474747;
        --theme-text-link: #0099ff;

        --theme-background-footer: #C6B7A8;
        --theme-background-primary: #DFD0C1;
        --theme-background-primary-active: #BCAEA1;

        --theme-background-secondary: #c9bbae;
        --theme-background-tertiary: #AC9D8E;
        --theme-background-quaternary: #938475;
        --theme-background-quinary: #796A5B;
        */
    /* [end actually good looking light mode variables] */

    animation: blinking linear 4s infinite;
}
@keyframes blinking {
    0% {
        --theme-text-primary: #ff0000;
        --theme-text-primary-active: rgb(223, 119, 119);
        --theme-text-secondary: #ff0000;
        --theme-text-link: #66ff00;

        --theme-background-footer: #fffb00;
        --theme-background-primary: #ffffff;
        --theme-background-primary-active: #ff00aa;

        --theme-background-secondary: #00ff37;
        --theme-background-tertiary: #ff8000;
        --theme-background-quaternary: #00ff55;
        --theme-background-quinary: #ff00bf;
    }
    25% {
        --theme-text-primary: pink;
        --theme-text-primary-active: blue;
        --theme-text-secondary: purple;
        --theme-text-link: orange;

        --theme-background-footer: lime;
        --theme-background-primary: #00eeff;
        --theme-background-primary-active: blue;

        --theme-background-secondary: red;
        --theme-background-tertiary: yellow;
        --theme-background-quaternary: lime;
        --theme-background-quinary: orange;
    }
    50% {
        --theme-text-primary: blue;
        --theme-text-primary-active: purple;
        --theme-text-secondary: #00eeff;
        --theme-text-link: #00eeff;

        --theme-background-footer: pink;
        --theme-background-primary: lime;
        --theme-background-primary-active: #ff00aa;

        --theme-background-secondary: orange;
        --theme-background-tertiary: red;
        --theme-background-quaternary: yellow;
        --theme-background-quinary: lime;
    }
    75% {
        --theme-text-primary: #cccccc;
        --theme-text-primary-active: #777;
        --theme-text-secondary: #a7a7a7;
        --theme-text-link: #0099ff;
        
        --theme-background-footer: #414141;
        --theme-background-primary: #313131;
        --theme-background-primary-active: #3a3a3a;
        
        --theme-background-secondary: #4A4A4A;
        --theme-background-tertiary: #646464;
        --theme-background-quaternary: #7D7D7D;
        --theme-background-quinary: #969696;
    }
}

/* body variables when theme is dark mode, or somehow no theme was set into LocalStorage */
body.darkmode, body:not(.darkmode):not(.lightmode) {
    --theme-text-primary: #cccccc;
    --theme-text-primary-active: #777;
    --theme-text-secondary: #a7a7a7;
    --theme-text-link: #0099ff;
    
    --theme-background-footer: #414141;
    --theme-background-primary: #313131;
    --theme-background-primary-active: #3a3a3a;
    
    --theme-background-secondary: #4A4A4A;
    --theme-background-tertiary: #646464;
    --theme-background-quaternary: #7D7D7D;
    --theme-background-quinary: #969696;
}

/* set the body properties once page has finished loading */
body:not(.awaitingPageLoad) {
    text-align: center;
    transition: var(--theme-transition-md);
    font-family: var(--theme-font-family-primary) !important;
    color: var(--theme-text-primary) !important;
    background-color: var(--theme-background-primary) !important;
    margin: 0;
}

* {
    outline: none !important;
}

h1 {
    padding: 25px 0 0 0 !important;
    margin-bottom: 0;
    font-size: 36px;
}

.subheading {
    font-size: 14px;
    color: var(--theme-text-secondary);
}

a {
    text-decoration: none;
    color: var(--theme-text-link);
}

.footer {
    background-color: var(--theme-background-footer);
    font-size: 12px;
    padding: 20px 0;
    width: 100%;
    position: absolute;
    bottom: 0;
}