<head>
    <title>{{title}} - WHS Book Club</title>

    <link rel="icon" type="image/x-icon" href="/images/favicon.png">
    <meta name="robots" content="index, follow">
    <meta name="West High School's official unofficial Book Club website!">
    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="organization">
    <meta property="og:title" content="WHS Book Club">
    <meta property="og:description" content="West High School's official unofficial Book Club website!">
    <meta property="og:url" content="https://whsbookclub.vercel.app">
    <meta property="og:site_name" content="WHSBookClub.vercel.app">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/root.css">
    <link rel="stylesheet" href="/css/components.css">

    <script src="/js/pageload.js"></script>
</head>